* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  padding: 0.25rem;
  border: 2px solid black;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

header .branding {
  font-weight: 700;
  font-size: 1.25rem;
}

header .nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

main {
  max-width: 100%;
  width: 1100px;
  padding: 4rem;
  margin: 0 auto;
}

#home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.food-card {
  width: 250px;
  max-width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.food-card > .mid-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 10px;
}

.comments-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #000;
  box-shadow: 1px 4px 5px #000;
}

button:focus {
  outline: none;
}

footer {
  padding: 1rem;
  text-align: center;
  border-top: 2px solid #000;
}

#comment-popup {
  position: fixed;
  inset: 0;
  padding: 1rem;
  background: #0009;
  max-height: 100vh;
  display: none;
}

#comment-popup.show {
  display: block;
}

#comment-popup .comment-popup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #fff;
  position: relative;
  overflow-y: auto;
  height: 100%;
  padding: 1rem;
}

#close-popup-button {
  position: fixed;
  right: 1rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 2rem;
  z-index: 5;
  padding: 0.5rem;
  background-color: #fff;
  cursor: pointer;
}

#comment-popup #food-image {
  max-width: 80%;
  max-height: 20rem;
}

#comments {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#comment-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#comment-form input,
#comment-form textarea {
  padding: 0.5rem;
  border: 2px solid black;
  width: 15rem;
}

#comment-form button {
  align-self: center;
}
